@import url('./font.css');

body {
  margin: 0;
  height: 100%;
  background-color: var(--surface-ground);
  font-family: 'Brown';
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
